:root {
  --biru1: #02187b;
  --biru2: #0246a7;
  --biru3: #164de5;
  --biru4: #1e89ef;
  --biru5: #5cdffb;
  --orange400: #f97316;
}

/* CSS custom untuk menampilkan kartu di tengah halaman */
/* Full-page background image */

/* Latar belakang layar dengan gambar */
body {
  background-image: url("../uploads/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Menata layout secara vertikal */
  margin: 0;
}

/* Animasi logo */
@keyframes logoAnimation {
  0% {
    transform: rotate(0deg) scale(1); /* Mulai dengan rotasi 0 dan ukuran normal */
  }
  50% {
    transform: rotate(180deg) scale(1.2); /* Saat tengah berputar, sedikit zoom-in */
  }
  100% {
    transform: rotate(360deg) scale(1); /* Akhir rotasi kembali ke ukuran normal */
  }
}

/* Logo dengan animasi berputar dan zoom */
.logo {
  width: 90px; /* Sesuaikan ukuran logo */
  height: auto;
  margin-bottom: 50px; /* Memberikan jarak antara logo dan card */
  animation: logoAnimation 5s ease-in-out infinite; /* Animasi berputar dengan efek zoom */
  transition: transform 0.3s ease; /* Menambahkan transisi pada transformasi */
}
/* Container untuk card */
.card-container {
  display: flex;
  gap: 20px;
}

/* Styling untuk card */
.card {
  width: 12rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animasi saat hover */
.card:hover {
  transform: scale(1.05); /* Scale up saat hover */
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3); /* Tambahkan shadow */
}

/* Styling untuk gambar di dalam card */
.card img {
  width: 100%;
  height: auto;
}

/* Styling untuk link button */
.card .btn-primary {
  transition: background-color 0.3s, transform 0.3s;
  font-family: "Exo+2", sans-serif;
  border: none;
}

.card .btn-primary:hover {
  background-color: var(--orange400);
  transform: scale(1.1);
}

.card h5 {
  font-weight: bold;
  font-family: "Exo+2", sans-serif;
  margin-top: 10px;
}
.card p {
  font-family: "Exo+2", sans-serif;
  font-size: 0.8rem;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .card-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
/* Responsif untuk layar handphone */
@media (max-width: 599px) {
  .card-container {
    display: flex;
    gap: 10px;
  }

  .card {
    width: 9.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card .btn-primary {
    background-color: var(--orange400);
    font-family: "Exo+2", sans-serif;
    border: none;
  }
  .card-container .btn-primary:hover {
    background-color: #9a3412;
  }
  .logo {
    width: 70px; /* Sesuaikan ukuran logo */
    height: auto;
    margin-bottom: 50px; /* Memberikan jarak antara logo dan card */
    animation: logoAnimation 5s ease-in-out infinite; /* Animasi berputar dengan efek zoom */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Menambahkan shadow pada logo */
    transition: transform 0.3s ease; /* Menambahkan transisi pada transformasi */
  }
}
